google-cloud-happybase==0.33.0
pyyaml
google-cloud-storage
google-cloud-bigquery
google-cloud-bigquery-storage
--upgrade google-api-python-client google-auth-httplib2 google-auth-oauthlib
google-auth-oauthlib